@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap");
@import url("reset.css");


body{
    text-align: center;
    font-family: "Roboto", sans-serif;
}

[class*="__container"] {
	max-width: 1140px;
	margin: 0 auto;
	padding-inline: 15px;
}

.header__title{
    font-size: 70px;
    font-weight: 700;
    color: #19bd58;
    padding: 30px 0;
    background: linear-gradient(0deg,rgba(20, 9, 3, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

.section-title{
    font-size: 45px;
    color: red;
    background-color: #eab919;
}

.list{
    background-color: #2e87a5;
}

.list__item, .list-3d__item {
    display: inline-block;
    vertical-align: middle;
    margin: 30px;
    width: 150px;
    height: 150px;
    background-color: rgb(226, 156, 43);
}

.list__content, .list-3d__content {
    width: 150px;
    height: 150px;
    padding: 45px 10px;
    background-color: rgb(179, 247, 20);
}

.list__item:nth-child(1):hover .list__content{
    transform: translate(-15px, 15px);
}

.list__item:nth-child(2):hover .list__content{
    transform: translate(10%, 10%);
}

.list__item:nth-child(3):hover .list__content{
    transform: scale(0.7);  
}

.list__item:nth-child(4):hover .list__content{
    transform: scale(-1, 1);
}

.list__item:nth-child(5):hover .list__content{
    transform: rotate(35deg);
}

.list__item:nth-child(6):hover .list__content{
    transform: rotateX(35deg);
}

.list__item:nth-child(7):hover .list__content{
    transform: rotateY(35deg);
}

.list__item:nth-child(8):hover .list__content{
    transform: skew(25deg, 25deg);
}

.list__item:nth-child(9):hover .list__content{
    transform: translate(15px, 15px) scale(0.7) rotate(-35deg) skew(15deg);
}

.list__item:nth-child(10):hover .list__content{
    transform-origin: top left ;
    transform: rotate(-30deg);
}


/* list-3d */

.list-3d{
    background-color: rgba(151, 50, 122, 0.848);
}

.list-3d__item{
    perspective: 250px;
}

.list-3d__item:nth-child(1):hover .list-3d__content{
    transform: rotateX(60deg);
}

.list-3d__item:nth-child(2):hover .list-3d__content{
    transform: rotateY(60deg);
}

.list-3d__item:nth-child(3):hover .list-3d__content{
    transform: translate3D(20px, 20px, 30px);
}

.list-3d__item:nth-child(4):hover .list-3d__content{
    transform: scale3D(0.8, 1.3, 1.5);
}

.list-3d__item:nth-child(5):hover .list-3d__content{
    transform: rotate3D(15, 20, 60, 70deg);
}

.list-3d__item:nth-child(6) .list-3d__content{
    transform: rotateX(45deg);
}

.transform-style{
    transform-style: preserve-3d;
    background-color: rgb(226, 156, 43, 0.4);
    /* працює тільки коли батьківському елементу задана перспектива */
}


/* card */

.card{
    padding: 40px 0;
    background-color: #078136;
}

.card__wrapper {
    position: relative;
    perspective: 1000px;
    display: inline-block;
}

.card__back {
    transition: all 0.6s;
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
}

.card__front {
    transition: all 0.6s;
    backface-visibility: hidden;
    transform: rotateY(0deg);
}

.card__back img, .card__front img {
    max-width: 610px;
}

.card__wrapper:hover .card__back {
    transform: rotateY(0deg);
}

.card__wrapper:hover .card__front {
    transform: rotateY(-180deg);
}

/* car */

.car{
   
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 270px 0 155px;
    background-color: rgb(245, 217, 132);
    background-image: url(img/city.jpg);
}

.car__body01, .car__body02 {
   display: block;
   font-size: 0;
}

.car__body1-left{
	width: 200px;
	height: 100px;
	display: inline-block;
	background-color: rgb(188, 178, 178);
    vertical-align: top;
    transform: translate(60px) skew(-41deg);
    border-radius: 5px 0 0 0; 
}

.car__body1-door-top{
    position: absolute;
    top: 10px;
    left: 40px;
    width: 60px;
    height: 90px;
    border: 3px solid black;
    background-color: black;
    transform: skew(40deg);
    border-radius: 20px 2px 0 0 ;
}



.car__body1-right{
    position: relative;
	width: 200px;
	height: 100px;
	display: inline-block;
	background-color:rgb(188, 178, 178);
    vertical-align: top;
    border-radius: 0 5px 0 0;
    
}

.car__body1-window1{

    position: absolute;
    top: 10px;
    left: -20px;
    width: 90px;
    height: 90px;
    background-color: black;
    margin-right: 30px;
}

.car__body1-window2{
    position: absolute;
    top: 10px;
    left: 100px;
    width: 90px;
    height: 90px;
    background-color: black;
}

/* car__body2 */

.car__body2-left, .car__body2-right{
	width: 200px;
	height: 100px;
	display: inline-block;
    vertical-align: top;
	background-color: grey;
}

.car__body2-left{
    border-radius: 20px 0 0 30px;
    position: relative;
}

.headlight{
    position: absolute;
    top: 0;
    left: 4px;
    width: 20px;
    height: 15px;
    border-radius: 20px 5px 5px 5px;
    border: 1px solid black;
    overflow: hidden;
}

.headlight__white{
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: yellowgreen;
}

.headlight__yellow{
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: rgb(246, 242, 25);
}


.car__body2-door-bottom{
    position: absolute;
    top: 0;
    left: 95px;
    width: 60px;
    height: 90px;
    border: 3px solid black;
    border-radius: 0 0 2px 2px ;
    
}

.car__body2-wheel-left{
    display: block;
    position: absolute;
    bottom: -25px;
    left: 30px;
    width: 60px;
    height: 60px;
    background-color: rgb(218, 1, 230);
    border-radius: 50%;
    border: 5px dashed black;
    
}

.car__body2-right{
    position: relative;
    border-radius:0 0 10px 0;
    
}

.car__body2-wheel-right{
    display: block;
    position: absolute;
    bottom: -25px;
    right: 30px;
    width: 60px;
    height: 60px;
    background-color: rgb(218, 1, 230);
    border-radius: 50%;
    border: 5px dashed black;
    
}

.headlight-end{
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 30px;
    border: 1px solid black;
    border-radius: 4px;
    overflow: hidden;
    
}

.headlight-end__item{
    display: block;
    background-color: rgb(255, 19, 19);
    width: 100%;
    height: 10px;
    border: 1px solid black;
    
}
